@import url('http://fonts.googleapis.com/css?family=Gamja+Flower');

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Gamja Flower';
    font-size: 20px;
}
.navbar{
    background-color: rgba(82, 64, 120, 0.9) !important;
}
.nav-link {
    color: white !important;
}
/* .navbar ul li a:hover{
    color: black !important;
} */

.nav-link:hover{
    color: black !important;
}

.carousel-inner img{
    height:400px;
    
}
.title{
    color: white;
    position: absolute;
    bottom: 150px;
    text-shadow: black 2px 3px 3px;
    text-align: center;
 
}
.title > h1{
    font-size: 70px;
}
@media (max-width: 568px){
    .title{
        font-size: 10px;
        transition: 0.4s;
    }
    .title>h1{
        font-size: 20px;
    }
    .btn button{

        font-size: 10px;
    }
}

.p{
    font-weight: bold;
    padding-top: 10px;
}
.haha{
    background: aqua;
}
.c{
    margin-bottom: 20px;
}
.linecut{
    width: 80%;
    margin: 0px auto;
    background: black;
    margin-bottom: 20px ;
}
