* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.all {
    width: 100%;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    background: white;
}

a {
    color: white;
}

#back {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 1;
}

#back a {
    display: flex;
    width: 40px;
    line-height: 40px;
    background: #5abb49;
    outline: none;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

#back a img {
    width: 20px;
    position: relative;
    left: 10px;
}

.header {
    width: 100%;
    height: 100px;
    background: red;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.hd1 {
    width: 85%;
    height: 100px;
    position: relative;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.hd1 .icon {
    float: left;
    padding: 17px 0px 0px 30px;
    margin-right: 50px;
}

.menutop {
    display: flex;
    margin-left: 870px;
}

.menutop .a {
    height: auto;
    width: auto;
    position: relative;
    margin-top: 20px;
    left: -20px;
}

.menutop .a li {
    line-height: 1 !important;
    margin-right: 20px;
    font-size: 14px;
    border-right: 1px solid #ccc;
    text-align: center;
    padding-right: 15px;
    margin-right: 15px;
    float: left;
}

.menutop li a:hover {
    color: #fc7131;
    cursor: pointer;
}

.menubot {
    position: relative;
    left: -40px;
}

.webshop ul li {
    height: 32px;
    line-height: 34px;
    padding: 0px 9px;
    position: relative;
    left: 30px;
    float: left;
    margin-top: 60px;
    font-size: 14px;
    margin-right: 4px;
}

.webshop ul li ul {
    position: absolute;
    left: 0;
    z-index: 99999;
    border-bottom: solid 4px #DC1A5B;
    border-right: solid 1px #DC1A5B;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .3);
    border-left: solid 1px #DC1A5B;
    border-top: solid 1px #DC1A5B;
    padding: 0;
    margin: 0;
    width: 180px;
    background: white;
    color: white;
    height: 310px;
    top: 32px;
}

.webshop ul li ul li {
    position: relative;
    height: auto;
    margin-top: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 138px;
    padding: 0 13px;
}

.webshop ul li ul li {
    margin-left: -23px;
}

.search1 input {
    position: relative;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0px 33px 0px 15px;
    height: 29px;
    width: 160px;
    left: 1130px;
    top: -55px;
}

.search1 .ahuui {
    position: relative;
    font-size: 15px;
    color: black;
    background: rgba(255, 255, 255, 0);
    border: none;
    top: -55px;
    cursor: pointer;
    right: -1098px;
}

#box {
    transition: margin-left 0.3s 0.0s ease-in-out;
    -moz-transition: margin-left 0.3s 0.0s ease-in-out;
    -webkit-transition: margin-left 0.3s 0.0s ease-in-out;
}

#box:hover {
    margin-left: 8px;
}

.webshop ul li ul {
    display: none;
}

.webshop ul li:hover ul {
    display: block;
}

.webshop ul li:hover {
    background: #dc195b;
}

.webshop ul li ul li span:hover {
    color: white;
}

.webshop ul li ul li i:hover {
    color: white;
}

.webshop ul li ul li .richkid {
    display: none;
}

.webshop ul li ul li:hover .richkid {
    display: block;
}

.webshop ul li ul li .richkid {
    position: absolute;
    left: 170px;
    z-index: 9999999;
    margin-top: 15px;
    border-bottom: solid 4px #DC1A5B;
    border-right: solid 1px #DC1A5B;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .3);
    border-top: solid 1px #DC1A5B;
    padding: 0;
    margin: 0;
    width: 160px;
    background: white;
    height: 110px;
    top: 0px;
}

.webshop ul li ul li .richkid li {
    position: relative;
    height: auto;
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 120px;
    padding: 0 13px;
}

.webshop ul li .long {
    position: absolute;
    left: 0;
    z-index: 99999;
    border-bottom: solid 4px #DC1A5B;
    border-right: solid 1px #DC1A5B;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .3);
    border-left: solid 1px #DC1A5B;
    border-top: solid 1px #DC1A5B;
    padding: 0;
    margin: 0;
    width: 250px;
    background: white;
    color: white;
    height: 160px;
    top: 32px;
}

.webshop ul li .long li {
    position: relative;
    height: auto;
    margin-top: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 200px;
    padding: 0 17px;
}

.search input {
    position: relative;
    border: none;
    border-radius: 100px;
    padding: 0px 33px 0px 15px;
    height: 29px;
    width: 160px;
    left: 40px;
    top: 25px;
}

.search button {
    position: relative;
    font-size: 15px;
    color: black;
    background: rgba(255, 255, 255, 0);
    border: none;
    bottom: -27px;
    cursor: pointer;
    right: -8px;
}

.than {
    height: 3750px;
    width: 100%;
}

.than1 {
    background: white;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.trangchu {
    height: 140px;
    background: #dc195b;
    width: 100%;
}

.trangchu ul {
    display: flex;
    margin-left: 150px;
}

.trangchu ul li {
    margin-right: 10px;
    font-size: 13px;
    margin-top: 107px;
}

.trangchu ul li a:hover {
    color: #fc7131;
}

.than1 .menu_dc {
    width: 100%;
    margin-left: 10px;
    height: 50px;
    color: white;
}

.menu_dc ul {
    margin-left: 18px;
}

.menu_dc ul li {
    float: left;
    width: auto;
    background: #5abb49;
    margin-right: 5px;
    height: 50px;
    line-height: 50px;
    padding: 0px 15px;
    font-size: 14px;
}

.menu_dc ul li:hover {
    background: #f60;
}

.than_dc {
    margin-top: 20px;
    height: 550px;
    width: 100%;
}

.than_dc .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc img {
    margin: 10px 10px 0px 10px;
}

.than_dc .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

span.roll {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: url(images/mag.png) center center no-repeat #000;
    cursor: pointer;
    height: 420px;
    width: 368px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    margin: 10px 10px 0px 10px;
}

span.roll:hover {
    opacity: .3;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px rgba(82, 82, 82, 0.205);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.507);
    box-shadow: 0px 0px 4px rgba(41, 40, 40, 0.068);
}

.than_dc .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.klq {
    margin-top: 10px;
}

.than_dc .a {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc1 {
    width: 100%;
    height: 550px;
}

.than_dc1 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc1 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc1 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc1 img {
    margin: 10px 10px 0px 10px;
}

.than_dc1 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}


.than_dc1 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc1 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc1 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc2 {
    height: 550px;
    width: 100%;
}

.than_dc2 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc2 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc2 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc2 img {
    margin: 10px 10px 0px 10px;
}

.than_dc2 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

.than_dc2 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc2 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc2 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc3 {
    height: 550px;
    width: 100%;
}

.than_dc3 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc3 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc3 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc3 img {
    margin: 10px 10px 0px 10px;
}

.than_dc3 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

.than_dc3 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc3 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc3 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 {
    height: 550px;
    width: 100%;
}

.than_dc4 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc4 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc4 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc4 img {
    margin: 10px 10px 0px 10px;
}

.than_dc4 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

.than_dc4 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 {
    height: 550px;
    width: 100%;
}

.than_dc4 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc4 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc4 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc4 img {
    margin: 10px 10px 0px 10px;
}

.than_dc4 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

.than_dc4 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc4 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc5 {
    height: 550px;
    width: 100%;
}

.than_dc5 .a1 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc5 .a2 {
    width: 32%;
    height: 520px;
    border: 1px #ccc solid;
    float: left;
    margin-right: 2%;
}

.than_dc5 .a3 {
    width: 31%;
    height: 520px;
    float: left;
    border: 1px #ccc solid;
}

.than_dc5 img {
    margin: 10px 10px 0px 10px;
}

.than_dc5 .a1 a img:hover {
    background: rgba(8, 0, 0, 0.288)
}

.than_dc5 .a1:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc5 .a2:hover {
    background: rgba(0, 0, 0, 0.055);
}

.than_dc5 .a3:hover {
    background: rgba(0, 0, 0, 0.055);
}

.menu_bot_sc{
    height: 40px;
    margin-left: 300px;
    margin-top: 10px;
    
}


.menu_bot_sc ul li{
    float: left;
    background: #2a3b42;
    height: 40px;
    line-height: 40px;
    width: auto;
    padding: 0 20px;
    margin-right: 10px;
}

.menu_bot_sc ul li:hover{
    background: #DC1A5B;
}

@media screen and (max-width: 650px) and (min-width: 100px){
    .trangchu{
        width: 100%;
    }
    .than .trangchu{
        width: 100%;

    }

}

@media only screen and (max-width:  1000px) and (min-width: 600px){  
    .all{
        width: 100%;
        height: auto;
    }
    .than{
        width: auto;

    }

    .than1{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .header{
        max-width: 100%;
        height: 50px;
    }
    .trangchu{
        max-width: 100%;
        height: 3%;
    }

    .trangchu ul{
        margin-left: 2%;
    }
    .trangchu ul li{
        margin-top: 4.5em;
        font-size: 15px;   
    }

    .icon img{
        height: 40px;
        width: 100px;
        margin-left: -130px;
        margin-top: 0px;
    }

    .webshop{
        display: none;
    }
    .search{
        position: relative;
        float: left;
        margin-left: 15%;
        top: -13px;
        display: block;
    }
    .menutop{
        display: none;
    }
    .than h2{
        position: relative;
        left: -8%;
    }
    .than_dc{
        width: 98%;
    }
    .footer{
       width: 100%;
    }




    


} 






































.futo {
    background: #2b3a42;
    width: 100%;
    height: 730px;
    clear: left;
    bottom: 0;
    z-index: 9999;
    left: 0;
    color: white;
    font-size: 13px;
    clear: both;
}

.fuho1 {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.fuho_a {
    color: #fff;
    font-size: 13px;
}

.fuho_L {
    width: 50%;
    float: left;
    padding: 0 30px 0 0px;
    border-right: 1px dashed #7b858e;
}

.fuho_L ul li {
    padding: 4px 0;
}

.clear {
    clear: both;
}

.fuho_R {
    width: 43%;
    float: left;
    padding: 0 15px 0 30px;
}

.fuho_bot {
    padding-top: 25px;
    border-top: 1px solid #7b858e;
    margin: 25px 0;
}

.fuho_bot ul li i:hover {
    color: rgba(236, 111, 111, 0.527);
}

.fuho_bot a {
    color: #7b858e;
}

.fuho_bot ul li .hii:hover {
    color: white;
}

.hii {
    font-size: 14px;
}

.hiii {
    float: right;
    font-size: 20px;
}

.footer {
    position: fixed;
    background: #dc195b;
    width: 100%;
    height: 60px;
    clear: left;
    bottom: 0;
    z-index: 9999;
    left: 0;
}

.footer ul {
    float: left;
    width: 24.9%;
    text-align: center;
    border-right: solid #CCC 1px;
}

.footer ul h2 {
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 18px 0;
}

.z {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#hehe {
    text-align: center;
    height: 100px;
    width: 220px;
    float: left;
    position: relative;
    top: -5px;
    font-size: 14px;
    right: -70px;
}

@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #F8CD0A;
    }
}

@-moz-keyframes my {
    0% {
        color: #F8CD0A;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #F8CD0A;
    }
}

@-o-keyframes my {
    0% {
        color: #F8CD0A;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #F8CD0A;
    }
}

@keyframes my {
    0% {
        color: #F8CD0A;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #F8CD0A;
    }
}

.test {
    font-weight: bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
    cursor: pointer;
}